body {
    background-color: lightblue;
    font-family: 'Raleway', sans-serif;
  }
  nav{
    background-color: grey;
    position: fixed;
    top: 0;
    Left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
  }
  nav ul li{
    float: right;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
  }
  #brand {
    float: left;
  }
  .nav-link {
  color: darkred;
  text-decoration: none;
  font-family: 'Acme', san-serif;
    }
  .nav-link:hover {
    color: lightblue;
    font-weight: bold;
  }
  #brand .nav-link {
    color: lightblue;
    font-size: 14pt;
  }
  #brand .nav-link:hover {
    color: darkred;
  }
  .h1{
    font-size; 60pt
  }
  #home {
    Margin-top: 30px;
    position: relative;
    Left: -8px;
    width: 100vw;
    height: 40vh;
    padding-top: 3em;
    background-image: url("https://images.unsplash.com/photo-1488197047962-b48492212cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80");
    background-size:cover; background-repeat:no-repeat;
    }  
  .header-tag {
    text-align: cneter;
    color: darkred;
    text-shdow: 2px 2px 2px black;
  }
  h3.header-tag {
    margin-top: -30px;
    font-size: 18pt;
  }
  
  
  
  
  h2 {
    font-family: 'acme', sans-serif;
    color: darkred;
  }
  .main {
    text-align: center;
  }
  #about {
   margin-top: 50px;
    display: incline-block;
  }
  #about-picture {
    width: 30vw;
    float: left;
  }
  #profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radis: 0.4em;
    box-shadow: 2px 2px 2px black
  }
  #about-content {
    width: 40vw;
    float: right;
  }